body{
    background-color:cadetblue;
}
h1{
    color:aqua;
    background-color:black;
}
.box{
    border:2px solid red;
    background-color:chartreuse;
    display:inline-block;
    margin-bottom:20px;
    width:100px;
    height:100px;

}
@media screen and (min-width:700px) and (max-width:800px) {
    h1{
    color:green;
} 
.box{
    border:2px solid black;
    background-color:rgb(72, 204, 101);
    display:block;
    width:100px;
    height:100px;

}
}
@media screen and (min-width:300px) and (max-width:400px) {
    h1{
    color:red;
} 
.box{
    border:2px solid red;
    background-color:chartreuse;
    display:block;
    width:100px;
    height:100px;

}
}