.box{
    height:200px;
    width:200px;
    background-color: chartreuse;
    border:2px solid red;
    /* transition:width 2s ease-in-out 2s; */

    transition:width 2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
.box:hover{
    background-color: chocolate;
    width:400px;
    height:500px;
}
h1{
    font-size:40px;
    transition:font-size 2s;
}
h1:hover{
    font-size:80px;
}
.box2{
    width:200px;
    height:200px;
    background-color: cyan;
    transition:transform 3s;
}
.box2:hover{
    transform:scaleX(3);
    /* transform: skew(30deg,30deg); */
    /* transform: rotate(30deg); */
    /* transform: translate(50px); */
}